<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="header">
  <div>
    <ul>
      <li><span class="glyphicon glyphicon-phone" aria-hidden="true" style="padding-left: 10px"></span>Miễn phí vận chuyển</li>
      <li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>67 Cầu Giấy, quận Cầu Giấy, Hà Nội</li>
      <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">dogohuyhung@gmail.com</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row" id="header-bot">
    <div class="col-5"><img src="assets/images/logo3.jpg" style="padding-top: 10px"></div>
    <div class="col-md-6" id="header-bot-search">
      <form class="form-inline">
        <input id="header-bot-input" class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm..." aria-label="Search">
        <button id="header-bot-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
      </form>
    </div>
  </div>
</div>
  <div class="topnav">
  <a routerLink="/home">Trang chủ</a>
  <a>Đồ gỗ công nghiệp</a>
  <a>Sản phẩm bán chạy</a>
  <a>Đặt hàng</a>
  <a>Đánh giá sản phẩm</a>
</div>
