<head>

</head>

<body>
 <app-starter></app-starter>
 <!--  banner-grid-->
 <div class="left-top">
  <h3>Danh mục</h3>
  <div class="content-left">
    <ul>
      <li><a href="/product">Sản phẩm bán chạy</a></li>
      <li><a href="/product">Sản phẩm khuyến mại</a></li>
      <li><a href="/product">Sản phẩm mới ra mắt</a></li>
    </ul>
  </div>
   <div class="left-under">
     <h4>Tìm kiếm nâng cao</h4>
     <div class="dropdown">
       <button class="dropbtn">Dropdown</button>
       <div class="dropdown-content">
         <a href="#">Link 1</a>
         <a href="#">Link 2</a>
         <a href="#">Link 3</a>
       </div>
     </div>
   </div>
 </div>

 <div class="content-image">
   <div class="slider" id="main-slider"><!-- outermost container element -->
     <div class="slider-wrapper"><!-- innermost wrapper element -->
       <img src="assets/images/product/ba1.jpg" alt="First" class="slide" /><!-- slides -->
       <img src="assets/images/product/ba2.jpg" alt="Second" class="slide" />
       <img src="assets/images/product/ba3.jpg" alt="Third" class="slide" />
     </div>
   </div>
 </div>
 <!--  end banner-grid-->
</body>
